
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>login</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>-->
    <script src="{{ url_for('static', filename='bootstrap/js/html5shiv.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/respond.min.js') }}"></script>
    <!--[endif]-->
    <style>
        .text{
            width: 65%;
        }

    </style>
</head>
<body>
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="{{ url_for('static', filename='js/jquery-1.12.4.min.js') }}"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>

    <div class="container">
        <h1 style="text-align: center">登录</h1>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">&nbsp;</div>
        <form method="post">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align: right">user：</div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><input class="text" type="text" name="user" required="required"></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">&nbsp;</div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align: right">password：</div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><input class="text" type="password" name="pwd" required="required"></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">&nbsp;</div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center"><input class="text" type="submit" name="commit"></div>
        </form>

    </div>

</body>
</html>